@use "sass:math"; // TODO: This was sass method: math
@use "tokens"; // TODO: This is tokens than generated as css global root variables

// TODO: Base
@use "base/wl-typography";
@use "base/wl-icon";
@use "base/wl-border";
@use "base/wl-background";
@use "base/wl-forground";
@use "base/wl-shadow";

// TODO: Abstracts
@use "abstracts/breakpoints" as *;
@use "abstracts/animations" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;

// TODO: Layout
@use "layout/wl-container";
@use "layout/wl-grid";
@use "layout/wl-gutter";

// TODO: Utilities
@use "utilities/wl-display";
@use "utilities/wl-spacing";
@use "utilities/wl-radius";
@use "utilities/wl-gap";
@use "utilities/wl-position";
@use "utilities/wl-sizing";
@use "utilities/wl-flex";
@use "utilities/wl-padding";
@use "utilities/wl-text-align";
@use "utilities/wl-font-weight";
@use "utilities/wl-font-size";
@use "utilities/wl-cursor";

// TODO: Component: Top-Level
@use "components/button/wl-button";
@use "components/wl-tab";

// TODO: Components
@use "components/wl-accordion";
@use "components/wl-app-bar";
@use "components/wl-avatar";
@use "components/wl-badge-status";
@use "components/button/wl-button-segment";
@use "components/button/wl-button-link";
@use "components/wl-banner";
@use "components/wl-card";
@use "components/wl-chip";
@use "components/wl-dropdown";
@use "components/wl-data-table";
@use "components/wl-empty-state";
@use "components/wl-figure";
@use "components/wl-file-upload";
@use "components/wl-form";
@use "components/wl-guide";
@use "components/wl-hint-text";
@use "components/wl-inline-tip";
// @use "components/input/wl-input";
// @use "components/input/wl-input-checkbox";
@use "components/input/wl-input-date";
// @use "components/input/wl-input-radio";
// @use "components/input/wl-input-switch";
// @use "components/input/wl-input-tag-input";
@use "components/input/wl-input-textarea";
@use "components/wl-label-title";
@use "components/wl-link";
@use "components/wl-list";
@use "components/wl-menu";
@use "components/wl-modal";
@use "components/wl-pagination";
@use "components/wl-progress";
@use "components/wl-popover";
@use "components/wl-scrollbar";
@use "components/wl-select";
@use "components/wl-sidebar";
@use "components/wl-skeleton";
@use "components/wl-snackbar";
@use "components/wl-toast";
@use "components/wl-tooltip";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  scroll-behavior: smooth;
}

html,
body {
  min-width: rem(1024);
  width: 100%;
  height: 100%;
  font-family: Inter, "Kantumruy Pro", "Noto Sans KR", sans-serif;
  display: flex;
}
