@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

$banner-size: rem(48);
$banner-icon-size: rem(24);
$banner-close-icon-size: rem(16);
$banner-padding-space-16: var(--Spacing-WLDS-Space-16, rem(16));
$banner-padding-space-32: var(--Spacing-WLDS-Space-32, rem(32));
$banner-multi-size: rem(70);
$banner-multi-icon-size: rem(32);
$banner-space-12: var(--Spacing-WLDS-Space-12, rem(12));
$banner-space-16: var(--Spacing-WLDS-Space-16, rem(16));
$banner-transition: all 0.25s ease-in-out;

.wl-banner {
  width: 100%;
  min-width: 100%;
  min-height: $banner-size;
  height: $banner-size;
  padding-left: $banner-padding-space-16;
  display: inline-flex;
  align-items: center;
  gap: $banner-padding-space-16;
  opacity: 0;
  transform: translateY(-100%);
  transition: $banner-transition;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;

  &.wl-show {
    opacity: 1;
    transform: translateY(0);
  }

  &-icon {
    width: $banner-icon-size;
    height: $banner-icon-size;
    @include wl-flex-center;

    &::before {
      content: "";
      display: block;
      width: $banner-icon-size;
      height: $banner-icon-size;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0.80127 16.7183C0.80127 15.8467 0.962402 14.8872 1.27002 13.8618C1.73145 12.3237 2.52246 10.2583 3.26221 8.69824C3.91406 7.34326 4.33887 6.53027 6.11133 6.12744C7.62012 5.79053 9.61963 5.58545 11.9927 5.58545C14.373 5.58545 16.3726 5.79053 17.874 6.12744C19.6538 6.53027 20.0786 7.34326 20.7305 8.69824C21.4702 10.2583 22.2612 12.3237 22.7227 13.8618C23.0303 14.8872 23.1914 15.8467 23.1914 16.7183C23.1914 18.7104 21.8657 19.8457 20.1006 19.8457C18.8115 19.8457 17.8594 19.311 17.083 18.5493L15.8525 17.2969C15.6768 17.1211 15.5669 17.0405 15.3179 17.0405H8.6748C8.42578 17.0405 8.31592 17.1211 8.14014 17.2969L6.90967 18.5493C6.14062 19.3184 5.18115 19.8457 3.89209 19.8457C2.12695 19.8457 0.80127 18.7104 0.80127 16.7183ZM2.90332 16.5498C2.90332 17.2822 3.41602 17.6997 4.0752 17.6997C4.50732 17.6997 4.97607 17.4946 5.36426 17.0918L7.09277 15.3999C7.46631 15.019 7.75928 14.8652 8.27197 14.8652H15.7134C16.2334 14.8652 16.5264 15.019 16.8999 15.3999L18.6284 17.0918C19.0239 17.4873 19.4854 17.6997 19.9175 17.6997C20.5767 17.6997 21.0894 17.2822 21.0894 16.5498C21.0894 16.1543 21.0015 15.6782 20.7891 14.9751C20.2764 13.2393 19.4414 11.0493 18.7163 9.47461C18.3721 8.74219 18.189 8.42725 17.5591 8.28076C16.1602 7.94385 14.2852 7.76074 11.9927 7.76074C9.70752 7.76074 7.83252 7.94385 6.43359 8.28076C5.80371 8.42725 5.61328 8.74219 5.27637 9.47461C4.54395 11.0493 3.70898 13.2319 3.20361 14.9751C2.99854 15.6782 2.90332 16.1543 2.90332 16.5498ZM5.86963 11.4155C5.86963 10.9175 6.19922 10.6025 6.71191 10.6025H7.69336V9.67969C7.69336 9.15967 8.03027 8.80811 8.54297 8.80811C9.05566 8.80811 9.38525 9.15967 9.38525 9.67969V10.6025H10.3008C10.8501 10.6025 11.2017 10.9175 11.2017 11.4155C11.2017 11.9136 10.8501 12.2358 10.3008 12.2358H9.38525V13.1587C9.38525 13.6787 9.05566 14.0229 8.54297 14.0229C8.03027 14.0229 7.69336 13.6787 7.69336 13.1587V12.2358H6.71191C6.19922 12.2358 5.86963 11.9136 5.86963 11.4155ZM16.6362 11.4302C15.9771 11.4302 15.457 10.9175 15.457 10.2583C15.457 9.5918 15.9771 9.07178 16.6362 9.07178C17.2954 9.07178 17.8154 9.5918 17.8154 10.2583C17.8154 10.9175 17.2954 11.4302 16.6362 11.4302ZM14.395 13.7227C13.7432 13.7227 13.2158 13.2026 13.2158 12.5508C13.2158 11.8843 13.7432 11.3643 14.395 11.3643C15.0615 11.3643 15.5742 11.8843 15.5742 12.5508C15.5742 13.2026 15.0615 13.7227 14.395 13.7227Z' fill='%23EAF3FF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &-title {
    color: var(--Tags-Positive-TAG-FG-PRM-THIN, #e5f3ff);
    @include wl-font-style(
      var(--Typeface-Size-Body-Small, 14px),
      var(--Typeface-Weight-Body-Small, 500),
      var(--Typeface-Line-height-Body-Small, 20px),
      var(--Typeface-Letter-Spacing-Body-Small, -0.2px)
    );
  }

  &-btn-wrap {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
  }

  &-close {
    width: $banner-size;
    height: $banner-size;
    margin-left: $banner-padding-space-16;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    @include wl-flex-center;
    gap: rem(10);
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &::after {
      content: "";
      display: block;
      width: $banner-close-icon-size;
      height: $banner-close-icon-size;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.95313 14.4063C1.6172 14.0781 1.62501 13.5 1.95313 13.1797L6.75782 8.3672L1.95313 3.56251C1.62501 3.2422 1.6172 2.67188 1.95313 2.32813C2.28907 1.9922 2.85938 2.00001 3.18751 2.32813L7.9922 7.13282L12.7969 2.32813C13.1328 2.00001 13.6875 2.00001 14.0313 2.33595C14.375 2.66407 14.3672 3.23438 14.0391 3.56251L9.23438 8.3672L14.0391 13.1797C14.3672 13.5078 14.3672 14.0703 14.0313 14.4063C13.6953 14.75 13.1328 14.7422 12.7969 14.4141L7.9922 9.60938L3.18751 14.4141C2.85938 14.7422 2.29688 14.7422 1.95313 14.4063Z' fill='%23EAF3FF'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &-btn-close[role="button"] {
    cursor: pointer;
  }

  &-info {
    background-color: var(--Tags-Positive-TAG-BG-PRM-MIDDLE, #1f62ff);
  }

  &-success {
    background-color: var(--Tags-Positive-TAG-BG-GRE-HEAVY, #008427);
  }

  &-warning {
    background-color: var(--Tags-Positive-TAG-BG-SEC-MIDDLE, #ff6900);
  }

  &-critical {
    background-color: var(--Tags-Positive-TAG-BG-YEL-MIDDLE, #e28100);
  }

  &-danger {
    background-color: var(--Tags-Negative-TAG-FG-HEAVY, #e20000);
  }

  &.wl-banner-action {
    .wl-banner-close {
      margin-left: rem(8);
    }
  }

  &-multi {
    padding: $banner-space-12 $banner-space-16;
    @include wl-aligns-center;
    gap: $banner-space-16;
    background-color: var(--Tags-Positive-TAG-BG-YEL-THIN, #fff9b4);
    border-bottom: 1px solid var(--Tags-Positive-TAG-OUTL-YEL-MIDDLE, #e28100);
    min-height: $banner-multi-size;
    height: auto;
    position: fixed;
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: $banner-transition;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;

    &.wl-show {
      opacity: 1;
      transform: translateY(0);
    }

    &-icon {
      width: $banner-multi-icon-size;
      height: $banner-multi-icon-size;
      @include wl-flex-center;

      &::before {
        content: "";
        display: block;
        width: $banner-multi-icon-size;
        height: $banner-multi-icon-size;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0.80127 16.7183C0.80127 15.8467 0.962402 14.8872 1.27002 13.8618C1.73145 12.3237 2.52246 10.2583 3.26221 8.69824C3.91406 7.34326 4.33887 6.53027 6.11133 6.12744C7.62012 5.79053 9.61963 5.58545 11.9927 5.58545C14.373 5.58545 16.3726 5.79053 17.874 6.12744C19.6538 6.53027 20.0786 7.34326 20.7305 8.69824C21.4702 10.2583 22.2612 12.3237 22.7227 13.8618C23.0303 14.8872 23.1914 15.8467 23.1914 16.7183C23.1914 18.7104 21.8657 19.8457 20.1006 19.8457C18.8115 19.8457 17.8594 19.311 17.083 18.5493L15.8525 17.2969C15.6768 17.1211 15.5669 17.0405 15.3179 17.0405H8.6748C8.42578 17.0405 8.31592 17.1211 8.14014 17.2969L6.90967 18.5493C6.14062 19.3184 5.18115 19.8457 3.89209 19.8457C2.12695 19.8457 0.80127 18.7104 0.80127 16.7183ZM2.90332 16.5498C2.90332 17.2822 3.41602 17.6997 4.0752 17.6997C4.50732 17.6997 4.97607 17.4946 5.36426 17.0918L7.09277 15.3999C7.46631 15.019 7.75928 14.8652 8.27197 14.8652H15.7134C16.2334 14.8652 16.5264 15.019 16.8999 15.3999L18.6284 17.0918C19.0239 17.4873 19.4854 17.6997 19.9175 17.6997C20.5767 17.6997 21.0894 17.2822 21.0894 16.5498C21.0894 16.1543 21.0015 15.6782 20.7891 14.9751C20.2764 13.2393 19.4414 11.0493 18.7163 9.47461C18.3721 8.74219 18.189 8.42725 17.5591 8.28076C16.1602 7.94385 14.2852 7.76074 11.9927 7.76074C9.70752 7.76074 7.83252 7.94385 6.43359 8.28076C5.80371 8.42725 5.61328 8.74219 5.27637 9.47461C4.54395 11.0493 3.70898 13.2319 3.20361 14.9751C2.99854 15.6782 2.90332 16.1543 2.90332 16.5498ZM5.86963 11.4155C5.86963 10.9175 6.19922 10.6025 6.71191 10.6025H7.69336V9.67969C7.69336 9.15967 8.03027 8.80811 8.54297 8.80811C9.05566 8.80811 9.38525 9.15967 9.38525 9.67969V10.6025H10.3008C10.8501 10.6025 11.2017 10.9175 11.2017 11.4155C11.2017 11.9136 10.8501 12.2358 10.3008 12.2358H9.38525V13.1587C9.38525 13.6787 9.05566 14.0229 8.54297 14.0229C8.03027 14.0229 7.69336 13.6787 7.69336 13.1587V12.2358H6.71191C6.19922 12.2358 5.86963 11.9136 5.86963 11.4155ZM16.6362 11.4302C15.9771 11.4302 15.457 10.9175 15.457 10.2583C15.457 9.5918 15.9771 9.07178 16.6362 9.07178C17.2954 9.07178 17.8154 9.5918 17.8154 10.2583C17.8154 10.9175 17.2954 11.4302 16.6362 11.4302ZM14.395 13.7227C13.7432 13.7227 13.2158 13.2026 13.2158 12.5508C13.2158 11.8843 13.7432 11.3643 14.395 11.3643C15.0615 11.3643 15.5742 11.8843 15.5742 12.5508C15.5742 13.2026 15.0615 13.7227 14.395 13.7227Z' fill='%23713F12'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &-title-wrap {
      @include wl-flex-column;
      gap: rem(2);
    }

    &-title {
      color: var(--Tags-Positive-TAG-FG-YEL-HEAVY, #823800);
      @include wl-font-style(
        var(--Typeface-Size-Body-Medium, 16px),
        var(--Typeface-Weight-Body-Medium, 500),
        var(--Typeface-Line-height-Body-Medium, 24px),
        var(--Typeface-Letter-Spacing-Body-Medium, -0.2px)
      );
    }

    &-sub-title {
      color: var(--Tags-Positive-TAG-FG-YEL-HEAVY, #823800);
      @include wl-font-style(
        var(--Typeface-Size-Body-Small, 14px),
        var(--Typeface-Weight-Body-Small, 500),
        var(--Typeface-Line-height-Body-Small, 20px),
        var(--Typeface-Letter-Spacing-Body-Small, -0.2px)
      );
    }

    &-close {
      width: $banner-close-icon-size;
      height: $banner-close-icon-size;
      @include wl-flex-center;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &::before {
        content: "";
        display: block;
        width: $banner-close-icon-size;
        height: $banner-close-icon-size;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.95313 14.4063C1.6172 14.0781 1.62501 13.5 1.95313 13.1797L6.75782 8.3672L1.95313 3.56251C1.62501 3.2422 1.6172 2.67188 1.95313 2.32813C2.28907 1.9922 2.85938 2.00001 3.18751 2.32813L7.9922 7.13282L12.7969 2.32813C13.1328 2.00001 13.6875 2.00001 14.0313 2.33595C14.375 2.66407 14.3672 3.23438 14.0391 3.56251L9.23438 8.3672L14.0391 13.1797C14.3672 13.5078 14.3672 14.0703 14.0313 14.4063C13.6953 14.75 13.1328 14.7422 12.7969 14.4141L7.9922 9.60938L3.18751 14.4141C2.85938 14.7422 2.29688 14.7422 1.95313 14.4063Z' fill='%23713F12'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &-critical {
      background-color: var(--Tags-Negative-TAG-BG-THIN, #ffdfe3);
      border-bottom: 1px solid var(--Tags-Negative-TAG-OUTL-MIDDLE, #ff516d);

      .wl-banner-multi-icon::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0.80127 16.7183C0.80127 15.8467 0.962402 14.8872 1.27002 13.8618C1.73145 12.3237 2.52246 10.2583 3.26221 8.69824C3.91406 7.34326 4.33887 6.53027 6.11133 6.12744C7.62012 5.79053 9.61963 5.58545 11.9927 5.58545C14.373 5.58545 16.3726 5.79053 17.874 6.12744C19.6538 6.53027 20.0786 7.34326 20.7305 8.69824C21.4702 10.2583 22.2612 12.3237 22.7227 13.8618C23.0303 14.8872 23.1914 15.8467 23.1914 16.7183C23.1914 18.7104 21.8657 19.8457 20.1006 19.8457C18.8115 19.8457 17.8594 19.311 17.083 18.5493L15.8525 17.2969C15.6768 17.1211 15.5669 17.0405 15.3179 17.0405H8.6748C8.42578 17.0405 8.31592 17.1211 8.14014 17.2969L6.90967 18.5493C6.14062 19.3184 5.18115 19.8457 3.89209 19.8457C2.12695 19.8457 0.80127 18.7104 0.80127 16.7183ZM2.90332 16.5498C2.90332 17.2822 3.41602 17.6997 4.0752 17.6997C4.50732 17.6997 4.97607 17.4946 5.36426 17.0918L7.09277 15.3999C7.46631 15.019 7.75928 14.8652 8.27197 14.8652H15.7134C16.2334 14.8652 16.5264 15.019 16.8999 15.3999L18.6284 17.0918C19.0239 17.4873 19.4854 17.6997 19.9175 17.6997C20.5767 17.6997 21.0894 17.2822 21.0894 16.5498C21.0894 16.1543 21.0015 15.6782 20.7891 14.9751C20.2764 13.2393 19.4414 11.0493 18.7163 9.47461C18.3721 8.74219 18.189 8.42725 17.5591 8.28076C16.1602 7.94385 14.2852 7.76074 11.9927 7.76074C9.70752 7.76074 7.83252 7.94385 6.43359 8.28076C5.80371 8.42725 5.61328 8.74219 5.27637 9.47461C4.54395 11.0493 3.70898 13.2319 3.20361 14.9751C2.99854 15.6782 2.90332 16.1543 2.90332 16.5498ZM5.86963 11.4155C5.86963 10.9175 6.19922 10.6025 6.71191 10.6025H7.69336V9.67969C7.69336 9.15967 8.03027 8.80811 8.54297 8.80811C9.05566 8.80811 9.38525 9.15967 9.38525 9.67969V10.6025H10.3008C10.8501 10.6025 11.2017 10.9175 11.2017 11.4155C11.2017 11.9136 10.8501 12.2358 10.3008 12.2358H9.38525V13.1587C9.38525 13.6787 9.05566 14.0229 8.54297 14.0229C8.03027 14.0229 7.69336 13.6787 7.69336 13.1587V12.2358H6.71191C6.19922 12.2358 5.86963 11.9136 5.86963 11.4155ZM16.6362 11.4302C15.9771 11.4302 15.457 10.9175 15.457 10.2583C15.457 9.5918 15.9771 9.07178 16.6362 9.07178C17.2954 9.07178 17.8154 9.5918 17.8154 10.2583C17.8154 10.9175 17.2954 11.4302 16.6362 11.4302ZM14.395 13.7227C13.7432 13.7227 13.2158 13.2026 13.2158 12.5508C13.2158 11.8843 13.7432 11.3643 14.395 11.3643C15.0615 11.3643 15.5742 11.8843 15.5742 12.5508C15.5742 13.2026 15.0615 13.7227 14.395 13.7227Z' fill='%23e20000'/%3E%3C/svg%3E");
      }

      .wl-banner-multi-title {
        color: var(--Colors-SEMANTIC-RED-WLDS-RED-08, #e20000);
      }

      .wl-banner-multi-sub-title {
        color: var(--Colors-SEMANTIC-RED-WLDS-RED-08, #e20000);
      }

      .wl-banner-multi-close::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.95313 14.4063C1.6172 14.0781 1.62501 13.5 1.95313 13.1797L6.75782 8.3672L1.95313 3.56251C1.62501 3.2422 1.6172 2.67188 1.95313 2.32813C2.28907 1.9922 2.85938 2.00001 3.18751 2.32813L7.9922 7.13282L12.7969 2.32813C13.1328 2.00001 13.6875 2.00001 14.0313 2.33595C14.375 2.66407 14.3672 3.23438 14.0391 3.56251L9.23438 8.3672L14.0391 13.1797C14.3672 13.5078 14.3672 14.0703 14.0313 14.4063C13.6953 14.75 13.1328 14.7422 12.7969 14.4141L7.9922 9.60938L3.18751 14.4141C2.85938 14.7422 2.29688 14.7422 1.95313 14.4063Z' fill='%23e20000'/%3E%3C/svg%3E");
      }
    }

    &-warning {
      background-color: var(--Tags-Positive-TAG-BG-SEC-THIN, #ffe7d1);
      border-bottom: 1px solid var(--Tags-Positive-TAG-OUTL-SEC-MIDDLE, #ff3900);

      .wl-banner-multi-icon::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M0.80127 16.7183C0.80127 15.8467 0.962402 14.8872 1.27002 13.8618C1.73145 12.3237 2.52246 10.2583 3.26221 8.69824C3.91406 7.34326 4.33887 6.53027 6.11133 6.12744C7.62012 5.79053 9.61963 5.58545 11.9927 5.58545C14.373 5.58545 16.3726 5.79053 17.874 6.12744C19.6538 6.53027 20.0786 7.34326 20.7305 8.69824C21.4702 10.2583 22.2612 12.3237 22.7227 13.8618C23.0303 14.8872 23.1914 15.8467 23.1914 16.7183C23.1914 18.7104 21.8657 19.8457 20.1006 19.8457C18.8115 19.8457 17.8594 19.311 17.083 18.5493L15.8525 17.2969C15.6768 17.1211 15.5669 17.0405 15.3179 17.0405H8.6748C8.42578 17.0405 8.31592 17.1211 8.14014 17.2969L6.90967 18.5493C6.14062 19.3184 5.18115 19.8457 3.89209 19.8457C2.12695 19.8457 0.80127 18.7104 0.80127 16.7183ZM2.90332 16.5498C2.90332 17.2822 3.41602 17.6997 4.0752 17.6997C4.50732 17.6997 4.97607 17.4946 5.36426 17.0918L7.09277 15.3999C7.46631 15.019 7.75928 14.8652 8.27197 14.8652H15.7134C16.2334 14.8652 16.5264 15.019 16.8999 15.3999L18.6284 17.0918C19.0239 17.4873 19.4854 17.6997 19.9175 17.6997C20.5767 17.6997 21.0894 17.2822 21.0894 16.5498C21.0894 16.1543 21.0015 15.6782 20.7891 14.9751C20.2764 13.2393 19.4414 11.0493 18.7163 9.47461C18.3721 8.74219 18.189 8.42725 17.5591 8.28076C16.1602 7.94385 14.2852 7.76074 11.9927 7.76074C9.70752 7.76074 7.83252 7.94385 6.43359 8.28076C5.80371 8.42725 5.61328 8.74219 5.27637 9.47461C4.54395 11.0493 3.70898 13.2319 3.20361 14.9751C2.99854 15.6782 2.90332 16.1543 2.90332 16.5498ZM5.86963 11.4155C5.86963 10.9175 6.19922 10.6025 6.71191 10.6025H7.69336V9.67969C7.69336 9.15967 8.03027 8.80811 8.54297 8.80811C9.05566 8.80811 9.38525 9.15967 9.38525 9.67969V10.6025H10.3008C10.8501 10.6025 11.2017 10.9175 11.2017 11.4155C11.2017 11.9136 10.8501 12.2358 10.3008 12.2358H9.38525V13.1587C9.38525 13.6787 9.05566 14.0229 8.54297 14.0229C8.03027 14.0229 7.69336 13.6787 7.69336 13.1587V12.2358H6.71191C6.19922 12.2358 5.86963 11.9136 5.86963 11.4155ZM16.6362 11.4302C15.9771 11.4302 15.457 10.9175 15.457 10.2583C15.457 9.5918 15.9771 9.07178 16.6362 9.07178C17.2954 9.07178 17.8154 9.5918 17.8154 10.2583C17.8154 10.9175 17.2954 11.4302 16.6362 11.4302ZM14.395 13.7227C13.7432 13.7227 13.2158 13.2026 13.2158 12.5508C13.2158 11.8843 13.7432 11.3643 14.395 11.3643C15.0615 11.3643 15.5742 11.8843 15.5742 12.5508C15.5742 13.2026 15.0615 13.7227 14.395 13.7227Z' fill='%23bf310f'/%3E%3C/svg%3E");
      }

      .wl-banner-multi-title {
        color: var(--Tags-Positive-TAG-FG-SEC-HEAVY, #bf310f);
      }

      .wl-banner-multi-sub-title {
        color: var(--Tags-Positive-TAG-FG-SEC-HEAVY, #bf310f);
      }

      .wl-banner-multi-close::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M1.95313 14.4063C1.6172 14.0781 1.62501 13.5 1.95313 13.1797L6.75782 8.3672L1.95313 3.56251C1.62501 3.2422 1.6172 2.67188 1.95313 2.32813C2.28907 1.9922 2.85938 2.00001 3.18751 2.32813L7.9922 7.13282L12.7969 2.32813C13.1328 2.00001 13.6875 2.00001 14.0313 2.33595C14.375 2.66407 14.3672 3.23438 14.0391 3.56251L9.23438 8.3672L14.0391 13.1797C14.3672 13.5078 14.3672 14.0703 14.0313 14.4063C13.6953 14.75 13.1328 14.7422 12.7969 14.4141L7.9922 9.60938L3.18751 14.4141C2.85938 14.7422 2.29688 14.7422 1.95313 14.4063Z' fill='%23bf310f'/%3E%3C/svg%3E");
      }
    }
  }

  &-lead-wrap {
    padding-right: $banner-space-16;
    @include wl-aligns-center;
    gap: rem(16);
  }

  &-trail-wrap {
    margin-left: auto;
    @include wl-aligns-center;
    gap: $banner-space-16;
  }
}
