@use "sass:string";
@use "sass:meta";

// Animations
@keyframes wl-pulse {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes wl-progress-loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes wl-pie-progress {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
